body{
    background-color: lightblue;
    text-align: center;
}

.banner{
    width: 100%;
    height: 250px;
    background-image: url(./brown_bear.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    color: white;
    padding: 100px;
    letter-spacing: 2px;
}

hr{
    border: 2px dashed ;    
}
.about {
    border: 3px solid brown;
    border-radius: 15px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
img{
    width:400;
    height: 300px;
    border: 2px solid white;
    border-radius: 50% ;

}
.footer {
    text-align: center;
    
}
.habitat{
    border: 3px solid orange;
    border-radius: 15px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.first{
    text-align: center;
    color: black;
    padding: 15px
}
.aboutme{
    border: 3px solid orange;
    border-radius: 15px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav{
     
}
.nav ul {
    list-style-type: none;

}

.nav ul li {
    display: inline-block;
    width: 200px;
}
.nav ul li a {
    text-decoration: none;
    color: brown;
    font: size 24px;
    font-weight: bold;
    letter-spacing: 2px;
}
.mypic{
    width:200;
    height: 200px;
    border: 2px solid white;
    border-radius: 50%;
}
.aboutme p {
    text-align: left
    ;
    padding-left: 10px;
}
.next{
    border: 3px solid blue;
    border-radius: 15px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.next h1 {
    text-align: center;
    color: black;
    padding: 15px
}
.next ul li {
    text-align: left;
    padding-left: 10px;
}
.three{
    border: 3px solid blue;
    border-radius: 15px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.three img {
    width:200;
    height: 200px;
    border: 2px solid white;
    border-radius: 50%;
}